[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
	url = /htapps/repos/mdp-lib.git
[submodule "vendor/plack-lib/lib"]
	path = vendor/plack-lib/lib
	url = /htapps/repos/plack-lib.git
[submodule "web/common-web"]
	path = web/common-web
	url = /htapps/repos/mdp-web.git
[submodule "vendor/slip-lib/lib"]
	path = vendor/slip-lib/lib
	url = /htapps/repos/slip-lib.git
