[submodule "web/common-web"]
	path = web/common-web
    url = git@github.com:hathitrust/mdp-web.git
[submodule "vendor/slip-lib/lib"]
	path = vendor/slip-lib/lib
    url = git@github.com:hathitrust/slip-lib.git
[submodule "vendor/plack-lib/lib"]
	path = vendor/plack-lib/lib
	url = git@github.com:hathitrust/plack-lib.git
[submodule "vendor/common-lib/lib"]
	path = vendor/common-lib/lib
	url = git@github.com:hathitrust/mdp-lib.git
