[submodule "web/common-web"]
	path = web/common-web
    url = git@github.com:hathitrust/mdp-web.git
[submodule "vendor/slip-lib/lib"]
	path = vendor/slip-lib/lib
    url = git@github.com:hathitrust/slip-lib.git
